cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
gunicorn==23.0.0
httplib2==0.22.0
idna==3.8
oauthlib==3.2.2
packaging==24.1
pillow==10.4.0
proto-plus==1.24.0
protobuf==5.28.0
psycopg2-binary
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.1.4
pypng==0.20220715.0
python-dotenv==1.0.1
qrcode==7.4.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
whitenoise
shortuuid==1.0.13
uritemplate==4.1.1
urllib3==2.2.2
django
gunicorn
